.item {
  animation: fade-in;
  animation-timeline: view();
  animation-range-start: cover;
}

@keyframes fade-in {
  from {
    scale: 0.5;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
