@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
}
body {
  background-color: #cad2c5;
}
h1::before {
  content: "-";
  margin-right: 10px;
}
h1 {
  color: #2f3e46;
  font-weight: 700;
  text-transform: uppercase;
}
p {
  color: #52796f;
  font-weight: 400;
  text-align: justify;
}

.container {
  width: 75vw;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 90px;
  padding-bottom: 400px;
}
.code-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.code-images img {
  width: 40%;
}
