.scroll {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  margin: auto;
}
.items .item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
